* {
    font-family: "Pretendard" sans-serif;
}

/* nav */
.navbar{
    border-bottom: 1px solid;
    border-color: #ebebeb;
}
.navbar a{
    color: rgb(33,37,41);
}

/* 기본 스타일 */
.nav-item {
    text-decoration: none;
    color: #333;
  }

.navbar .navbar-items{
    padding: 0.3% 1%;
}

/* footer */
.footer-svg{
    width: 1vw;
    height: auto;
}
.footer-text{
    font-size: 1vw;
    height: auto;
    color: rgb(33,37,41);
    padding-top: 0.5vh;
}