* {
    font-family: "Pretendard" sans-serif;
}

/* nav */
.navbar{
    margin: 0;
    border-bottom: 1px solid;
    border-color: #ebebeb;
}
.navbar a{
    color: rgb(33,37,41);
}

.nav-item {
    text-decoration: none;
    color: #333;
}

.navbar .navbar-items{
    padding: 0.1% 1%;
}

.banner-img{
    max-height: 4.3vh;
    transform: translateY(3px);
    filter: drop-shadow(0.3px 0 #333) drop-shadow(-0.3px 0 #333);
}

/* footer */
.footer-svg{
    width: auto;
    height: 2vh;
    color: #333;
}

.footer-text{
    font-size: 0.8vw;
    height: auto;
    color: rgb(33,37,41);
    padding-top: 0.5vh;
}

@media screen and (max-width: 440px) {
    /* navbar */
    .navbar{
        margin: 0 5vw;
    }
    /* footer */
    .footer-text{
        font-size: 2vw;
    }
    
}