* {
    font-family: "Pretendard" sans-serif;
}

/* nav */
.navbar{
    margin: 0;
    border-bottom: 1px solid;
    border-color: #ebebeb;
}

.nav-dropdown{
    margin-right: auto;
}

.navbar a{
    color: rgb(33,37,41);
}

.nav-item {
    text-decoration: none;
    color: #333;
}

.navbar .navbar-items{
    padding: 0.1% 1%;
}

.banner-img{
    max-height: 4.3vh;
    transform: translateY(3px);
    filter: drop-shadow(0.3px 0 #333) drop-shadow(-0.3px 0 #333);
}

/* footer */
.footer-svg{
    width: auto;
    height: 2vh;
    color: #333;
}

.footer-text{
    font-size: 80%;
    height: 100%;
    color: rgb(33,37,41);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* tablet view */

@media screen and (min-width:480px) and (max-width:767px) {
    /* navbar */
    .navbar-nav{
        justify-content: space-around;
    }
    .nav-dropdown{
        margin-right: 0;
    }
    .navbar-items{
        justify-content: center !important;
    }
    /* footer */
    .footer-text{
        font-size: 71%;
        width: 30vw;
    }
    
}

/* mobile view */
@media screen and (max-width: 479px) {
    /* navbar */
    .navbar{
        justify-content: center;
        margin: 0 5vw;
    }
    .nav-dropdown{
        margin-right: 0;
    }
    .navbar-items{
        justify-content: center !important;
    }
    .nav-link{
        font-size: 3vw !important;
    }

    /* footer */
    .footer-text{
        font-size: 2vw;
        width: 50vw;
    }
    
}