/* 기본 페이지 스타일 */
.app {
    text-align: center;
    padding: 20px;
}

.open-overlay-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 닫기 아이콘 버튼 */
.close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem; /* 크기 조정 */
    color: white;
    cursor: pointer;
    background: transparent;
    border: none;
}

.close-icon:hover {
    color: #000;
    transform: scale(1.1); /* 약간 확대 효과 */
    transition: all 0.2s ease-in-out;
}

/* 오버레이 스타일 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    display: flex;
    flex-direction: column; /* 스크롤 가능한 내용과 닫기 버튼 정렬 */
    overflow: hidden; /* 부모에서 스크롤 숨기기 */
    background-color: #F1F1F1;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 60vw;
    margin: 3vh 0;
    width: 100%;
    max-height: 95%; /* 높이 제한 추가 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.overlay-scrollable {
    overflow-y: auto; /* 스크롤 활성화 */
    max-height: calc(100% - 50px); /* 닫기 버튼 높이 제외 */
    padding-right: 10px; /* 스크롤바가 텍스트와 겹치지 않도록 여백 추가 */
}

.close-overlay-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.session-button {
    border: 1px solid black;
    margin-right: 1vw;
    margin-bottom: 2vh;
    padding: 10px 15px;
    cursor: pointer;
    background-color: white;
    transition: background 0.3s, color 0.3s;
}

.session-button:hover {
    background-color: black;
    color: white;
}

@media screen and (min-width:480px) and (max-width:767px) {    
    /* overlay mobile page */
      .overlay-content{
        max-width: 90vw;
        max-height: 90%;
        padding: 4vw;
    }
    .submit-button{
        text-align: center;
        max-width: 70vw;        
    }
}

@media screen and (max-width: 440px) {
    .close-icon{
        font-size: 1.2rem; /* 크기 조정 */
    }
    /* overlay mobile page */
    .overlay-content{
        max-width: 90vw;
        max-height: 87%;
        padding: 1vh 2vw;
    }

    .submit-button{
        text-align: center;
        max-width: 70vw;
        
    }
}
