/* global setting */
h1{
    font-family: "Pretendard" sans-serif;
    font-size: 3vw;
}
label{
    font-size: 1.6vw;
}
.strong-text{
    margin-right: 5px;
}
.hr-divider {
    width: 50px; /* 구분선 길이 */
    height: 1px; /* 구분선 두께 */
    background-color: #c5c5c5; /* 연한 회색 */
    border: none; /* 기본 선 제거 */
    margin: 10px auto; /* 위아래 간격 조절 및 중앙 정렬 */
}

/* 메인 페이지 */
.about-page-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83vh;
}
.about-page-text ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.about-page-text li{
    margin:  0.9vh 0 0 0 ;
}

.about-page-text a{
    color: #000;
    text-decoration-line: none;
    display: inline-block; /* 변형 효과를 적용하기 위해 필요 */
    transition: transform 0.5s ease, font-size 0.1s ease;
}

.about-page-text a:hover{
    color: #f32121;
    text-decoration-line: none;
    transform: translateY(-1px) scale(1.1);
}

.about-page-img{
    height: 85vh;
    border-radius: 10px;
    margin: 4vh 0;
    position: relative;
    top: 2vh;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05); /* 다중 그림자 */
    padding: 20px;
}

.open-overlay-btn{
    position: relative;
    bottom: 4vh;
}

/* 문의 SECTION */
.inquiry-container{
    text-align: start;
}
.form-group{
    margin: 2vh 0;
}

p, h1{
    color: #333;
}

/* 네임 인풋 */
.name-inputs{
    display: flex;
    justify-content: center;
    }
    .name-input{
        width:  50vw;
        height: 5vh;
        margin-top: 1vh;
    }
    .name-input:first-child{
        width:  50vw;
        margin-right: 1vw;
    }
    .name-input:last-child{
        width:  50vw;
        margin-left: 1vw;
    }

/* 이메일 인풋 */
.email-inputs{ 
    display: flex;
    flex-direction: column;
    }
    .email-inputs input{
        margin-top: 1vh;
        height: 5vh;
    }

/* 메세지 인풋 */
.message-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .message-inputs textarea{
        height: 13vh;
    }

.date-inputs{
    margin-bottom: 4vh;
    }
    .date-inputs input{
        height: 5vh;
        width: 12vw;
    }

@media screen and (max-width: 440px) {
    /* global setup */
        .strong-text{
            font-size: large;
        }
        .required{
            font-size: small;
        }

    /* about portrait img */
    .about-page-img{
        display: none;
    }
    .about-page-text{
        height: 85vh;
    }
    .btn-secondary{
        width: 40vw;
        height: 6vh;
    }  

    /* 네임 인풋 */
    .name-inputs {
        flex-direction: column;
        align-items: start;
        margin: 0 ;
        width: 100%;
    }

    .name-input[type="text"] {
        width: 100%;
        max-width: 90vw;
        margin: 1vh 0 !important;
    }

    /* about page button */
    .submit-button[type="submit"]{
        background-color: rgba(51, 51, 51, 0.7);
        width: 100%;
        max-width: 90vw;   
    }

    .session-date-input[type="date"]{
        width: 100%;
        max-width: 90vw;
    }

}